<!doctype html>
<html>
  <head>
    <title>Movie Information</title>
  </head>
  <body>
    <h1>Movie Info</h1>
    <ul>
      <li>Title: <%= movieInfo.Title%></li>
      <li>Year: <%= movieInfo.Year %></li>
      <li>Actors: <%= movieInfo.Actors %></li>
      <li>Director: <%= movieInfo.Director %></li>
      <li>Language: <%= movieInfo.Language %></li>
      <li>Genre: <%= movieInfo.Genre %></li>

    </ul>
  </body>
</html>